.classpath
out/production/InspireCrawler/*
data/crawl/root/frontier/*
lib/
../log_results.txt
.idea/
../DatabaseTemporary.csv
out/
inspirecrawler.xml
inspirecrawler.properties
module_inspirecrawler.xml
src/model/
