<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/css/templateInspire.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" href="#">Inspire Crawler</a></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul id="nav-text" class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">API</a></li>
                <li class="active"><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Image Header-->
<img style="width:100%;padding-top:50px;" src="../assets/img/landing.jpg" class="img-responsive" alt="Responsive image">

<!-- Form and Contact Info -->
<div class="container">
  <div class="row">
    <div class="col-md-6 .col-xs-6">
      <h2>Ask Us</h2>
      <form class="wrapper">
        <input type="text" class="form-control" placeholder="Name">
        <input type="text" class="form-control" placeholder="Email">
        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <div class="col-md-6 .col-xs-6">
      <h2>Information</h2>
      <div class="wrapper">
        <h4>Email</h4>
        <h5>cs@owlteam.com</h5>

        <h4>Phone</h4>
        <h5>021 77840082</h5>

        <h4>Address</h4>
        <h5>BADR Interactive, Jln. IR. H. Juanda, Bakti Jaya, Sukmajaya, Kota Depok, Jawa Barat</h5>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
        <div class="container">
        <span style="color: #fff" id="copyright" style="height: 100%;line-height: 100%;">
        &copy; Copyright - TimAul 2016
        </span>
        <span style="float: right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
        </span><!--End container-->
        </div>
</footer><!--End footer 2-->
</body>
</html>
